@using Application.Queries.CountryAttributeQueries
@using Application.Commands.CountryCommands
@using MediatR
@model CountryCreateDto
@inject IMediator _mediator
@{
}

<h2>Create Country</h2>
<form asp-action="Create" method="post">
    <div class="row border rounded p-3 m-2">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Country Name:</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description:</label>
            <input asp-for="Description" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="LongDescription" class="form-label">Long description:</label>
            <input asp-for="LongDescription" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Capital" class="form-label">Capital:</label>
            <input asp-for="Capital" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Population" class="form-label">Population:</label>
            <input asp-for="Population" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Area" class="form-label">Area:</label>
            <input asp-for="Area" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="IndependenceYear" class="form-label">Independence year:</label>
            <input asp-for="IndependenceYear" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="GovernanceTypeName" class="form-label">Governance type:</label>
            <select asp-for="GovernanceTypeName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllGovernanceTypeNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="LanguageName" class="form-label">Language:</label>
            <select asp-for="LanguageName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllLanguageNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="ReligionName" class="form-label">Religion:</label>
            <select asp-for="ReligionName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllReligionNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
        </div>
        <div class="mb-3">
            <label asp-for="FlagUrl" class="form-label">Flag url:</label>
            <input type="url" asp-for="FlagUrl" class="form-control" />
        </div>
    </div>

    <div class="row border rounded p-3 m-2">
        <label class="form-label h4">Specialties</label>
        <div id="specialties-container">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" onclick="addSpecialty()" class="btn btn-primary mt-2">Add Specialty</button>
            </div>
        </div>
    </div>

    <div class="row p-3 m-2">
        <div class="col">
            <button type="submit" class="btn btn-primary my-3">Create Country</button>
        </div>
    </div>
</form>

<script>
    let specialtyCount = 0;
    function addSpecialty() {
        const specialtyHtml = `
            <div id="specialty-${specialtyCount}" class="input-group my-1">
                    <select class="form-select" name="Specialties">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button type="button" onclick="removeSpecialty(${specialtyCount})" class="btn btn-primary">Remove</button>
            </div>
        `;

        document.getElementById('specialties-container').innerHTML += specialtyHtml;               
    }

    function removeSpecialty(id) {
        let element = document.querySelector(`#specialty-${id}`);
        element.remove();
    }
</script>
