@using Application.Queries.CountryList
@model CountryDetailsDto

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-1">
    <div class="row">
        <div class="col h3">
            <a href=".#@Model.Name" class="nav-link d-inline">
                <span class="material-symbols-outlined fs-2">arrow_back</span>
                Back
            </a>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-4 ship">
                <img src="https://placehold.co/600x600" class="img-fluid rounded mb-3" alt="Country Image">
                <div class="badge text-bg-secondary fs-6 my-1">
                    <span class="material-symbols-outlined">things_to_do</span>
                    Capital: <span class="text-violet">@Model.Capital</span>
                </div>
                <div class="badge text-bg-secondary fs-6 my-1">
                    <span class="material-symbols-outlined">groups</span>
                    Population: <span class="text-violet">@Model.Population.ToString("###,###")</span>
                </div>
                <div class="badge text-bg-secondary fs-6 my-1">
                    <span class="material-symbols-outlined">globe</span>
                    Area: <span class="text-violet">@Model.Area.ToString("###,###") km<sup>2</sup></span>
                </div>

            </div>
            <h1 class="display-1">@Model.Name</h1>
            <span class="badge text-bg-secondary fs-6" data-bs-toggle="tooltip" data-bs-title="@Model.GovernanceType.Description">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Governance type">account_balance</span>
                @Model.GovernanceType.Name
            </span>
            <span class="badge text-bg-secondary fs-6" data-bs-toggle="tooltip" data-bs-title="@Model.Language.Description">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Language">language</span>
                @Model.Language.Name
            </span>
            <span class="badge text-bg-secondary fs-6" data-bs-toggle="tooltip" data-bs-title="@Model.Religion.Description">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Religion">church</span>
                @Model.Religion.Name
            </span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2 class="mb-3">Natural Resources</h2>
            @foreach (var resource in Model.NaturalResources)   
            {
                <p>
                    <span class="badge text-bg-light border fw-medium fs-6">
                        <span class="badge custom-badge">@resource.Name</span> - @resource.Description
                    </span>
                </p>
            }
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2 class="mb-3">Specialties</h2>
            @foreach (var specialty in Model.Specialties)
            {
                <p>
                    <span class="badge text-bg-light border fw-medium fs-6">
                        <span class="badge custom-badge-pink">@specialty.Name</span> - @specialty.Description
                    </span>
                </p>
            }
        </div>
    </div>
</div>