@using Application.Queries.CountryAttributeQueries
@using Application.Queries.SpecialtyQueries
@using Application.Queries.NaturalResourceQueries
@using Application.Commands.CountryCommands
@using MediatR
@model CountryCreateDto
@inject IMediator _mediator
@{
}

<h2>Edit Country</h2>
<form asp-action="Edit" method="post">
    <div class="row border rounded p-3 m-2">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Country Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description:</label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LongDescription" class="form-label">Long description:</label>
            <input asp-for="LongDescription" class="form-control" />
            <span asp-validation-for="LongDescription" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Capital" class="form-label">Capital:</label>
            <input asp-for="Capital" class="form-control" />
            <span asp-validation-for="Capital" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Population" class="form-label">Population:</label>
            <input asp-for="Population" class="form-control" />
            <span asp-validation-for="Population" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Area" class="form-label">Area:</label>
            <input asp-for="Area" class="form-control" />
            <span asp-validation-for="Area" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="IndependenceYear" class="form-label">Independence year:</label>
            <input asp-for="IndependenceYear" class="form-control" />
            <span asp-validation-for="IndependenceYear" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="GovernanceTypeName" class="form-label">Governance type:</label>
            <select asp-for="GovernanceTypeName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllGovernanceTypeNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
            <span asp-validation-for="GovernanceTypeName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="LanguageName" class="form-label">Language:</label>
            <select asp-for="LanguageName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllLanguageNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
            <span asp-validation-for="LanguageName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ReligionName" class="form-label">Religion:</label>
            <select asp-for="ReligionName" class="form-select">
                @foreach (var name in await _mediator.Send(new GetAllReligionNamesQuery()))
                {
                    <option value="@name">@name</option>
                }
            </select>
            <span asp-validation-for="ReligionName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="FlagUrl" class="form-label">Flag url:</label>
            <input type="url" asp-for="FlagUrl" class="form-control" />
            <span asp-validation-for="FlagUrl" class="text-danger"></span>
        </div>
    </div>

    <div class="row border rounded p-3 m-2">
        <label class="form-label h4">Specialties</label>
        <div id="specialtyContainer">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" onclick="addSpecialty()" class="btn btn-primary mt-2">Add Specialty</button>
            </div>
        </div>
    </div>

    <div class="row border rounded p-3 m-2">
        <label class="form-label h4">Natural resources</label>
        <div id="naturalResourceContainer">
        </div>
        <div class="row">
            <div class="col">
                <button type="button" onclick="addNaturalResource()" class="btn btn-primary mt-2">Add Natural Resource</button>
            </div>
        </div>
    </div>

    <div class="row p-3 m-2">
        <div class="col">
            <button type="submit" class="btn btn-primary my-3">Save Changes</button>
        </div>
    </div>
</form>

<template id="specialtySelect">
    <select name="SpecialtyNames" class="form-select">
        @foreach (var name in await _mediator.Send(new GetAllSpecialtyNamesQuery()))
        {
            <option value="@name">@name</option>
        }
    </select>
</template>

<template id="naturalResourceSelect">
    <select name="NaturalResourceNames" class="form-select">
        @foreach (var name in await _mediator.Send(new GetAllNaturalResourceNamesQuery()))
        {
            <option value="@name">@name</option>
        }
    </select>
</template>

<template id="specialtyDefined">
    @foreach (var name in Model.SpecialtyNames)
    {
        <div>@name</div>
    }
</template>

<template id="naturalResourceDefined">
    @foreach (var name in Model.NaturalResourceNames)
    {
        <div>@name</div>
    }
</template>

<script defer>
    let specialtyCount = 0;
    function addSpecialty() {
        const specialtyHtml = `
                <div id="specialty-${specialtyCount}" class="input-group my-1">
                        ${document.querySelector('#specialtySelect').innerHTML}
                        <button type="button" onclick="removeSpecialty(${specialtyCount})" class="btn btn-primary">Remove</button>
                </div>
            `;

        let container = document.getElementById('specialtyContainer');
        let newElem = document.createElement('div');
        container.appendChild(newElem);
        newElem.outerHTML = specialtyHtml;

        specialtyCount++;
    }

    function addSpecialtyDefined() {
        document.querySelector('#specialtyDefined').content.querySelectorAll('div').forEach(div => {
            let num = specialtyCount;
            addSpecialty();
            document.querySelector(`#specialty-${num} select`).value = div.textContent;
        })
    }

    addSpecialtyDefined();

    function removeSpecialty(id) {
        let element = document.querySelector(`#specialty-${id}`);
        element.remove();
    }

    let naturalResourceCount = 0;
    function addNaturalResource() {
        const naturalResourceHtml = `
                    <div id="naturalResource-${naturalResourceCount}" class="input-group my-1">
                            ${document.querySelector('#naturalResourceSelect').innerHTML}
                            <button type="button" onclick="removenaturalResource(${naturalResourceCount})" class="btn btn-primary">Remove</button>
                    </div>
        `;

        let container = document.getElementById('naturalResourceContainer');
        let newElem = document.createElement('div');
        container.appendChild(newElem);
        newElem.outerHTML = naturalResourceHtml;

        naturalResourceCount++;
    }

    function addNaturalResourceDefined() {
        document.querySelector('#naturalResourceDefined').content.querySelectorAll('div').forEach(div => {
            let num = naturalResourceCount;
            addNaturalResource();
            document.querySelector(`#naturalResource-${num} select`).value = div.textContent;
        })
    }

    addNaturalResourceDefined();

    function removenaturalResource(id) {
        let element = document.querySelector(`#naturalResource-${id}`);
        element.remove();
    }
</script>
