@using Application.Queries.CharacterQueries
@model CharacterDetailsDto

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-1">
    <div class="row">
        <div class="col h3">
            <a href=".#@Model.Name" class="nav-link d-inline">
                <span class="material-symbols-outlined fs-2">arrow_back</span>
                Back
            </a>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-4 mb-0 ship">
                <img src="https://placehold.co/600x600" class="img-fluid rounded mb-3" alt="Character Image">
            </div>
            <h1 class="display-1">@Model.Name</h1>
            <a class="text-decoration-none" asp-controller="Country" asp-action="@Model.OriginCountry.Name">
                <span class="badge text-bg-secondary fs-6" data-bs-toggle="tooltip" data-bs-title="@Model.OriginCountry.Description">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                          data-bs-placement="bottom" data-bs-title="Origin Country">flag</span>
                    @Model.OriginCountry.Name
                </span>
            </a>
            <span class="badge text-bg-secondary fs-6">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Birth Date">calendar_month</span>
                @Model.BirthDate.ToLongDateString()
            </span>
            <span class="badge text-bg-secondary fs-6">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Power">bolt</span>
                @Model.Power
            </span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2 class="mb-3">Battles</h2>
            <div class="row">
                @if (Model.Battles.Count == 0)
                {
                    <p>The character hasn't fought in any battles yet.</p>
                }
                @foreach (var battle in Model.Battles)
                {
                    <div class="col-4">
                        <div class="card mb-3">
                            <div class="card-header">
                                <h4 class="card-title">@battle.Name</h4>
                            </div>
                            <img src="https://placehold.co/600x600" class="" />
                            <div class="card-body">
                                <p class="card-text">Your ad could be here</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-md-2">
                    <button class="btn btn-info">
                        Create a battle
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
