@using Web.ViewModels.Characters
@model CharacterDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
}

<div class="container mt-1">
    <div class="row">
        <div class="col h3">
            <a href=".#@Model.Name" class="nav-link d-inline">
                <span class="material-symbols-outlined fs-2">arrow_back</span>
                Back
            </a>
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-4 mb-0 ship">
                <img src="@Model.PortraitUrl" class="img-fluid rounded mb-3 sizy object-fit-cover" alt="Character Image">
            </div>
            <h1 class="display-1">@Model.Name</h1>
            <a class="text-decoration-none" asp-controller="Country" asp-action="@Model.OriginCountry.Name">
                <span class="badge text-bg-secondary fs-6" data-bs-toggle="tooltip" data-bs-title="@Model.OriginCountry.Description">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                          data-bs-placement="bottom" data-bs-title="Origin Country">flag</span>
                    @Model.OriginCountry.Name
                </span>
            </a>
            <span class="badge text-bg-secondary fs-6">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Birth Date">calendar_month</span>
                @Model.BirthDate.ToLongDateString()
            </span>
            <span class="badge text-bg-secondary fs-6">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Power">bolt</span>
                @Model.Power
            </span>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2 class="mb-2 ms-3">Battles</h2>
            <div class="row">
                @if (Model.Battles.Count == 0)
                {
                    <p>The character hasn't fought in any battles yet.</p>
                }
                @foreach (var battle in Model.Battles)
                {
                    <div id="b-@battle.Id" class="col-lg-6">
                        <div class="p-3 my-3 rounded-3 bg-light fs-5-5">
                            <h3>@battle.Name</h3>
                            <div class="row pb-0">
                                <div class="col-6">
                                    <p class="">@battle.Date.ToLongDateString()</p>
                                    <span class="text-success fst-italic">Winner</span>
                                </div>
                                <div class="col-6 text-end">
                                    <p><a asp-controller="Country" asp-action="@battle.Country.Name" class="text-reset">@battle.Country.Name</a></p>
                                    <span class="text-danger fst-italic">Loser</span>
                                </div>
                            </div>
                            <p class="row">
                                <span class="col-4">
                                <a asp-action="@battle.WinnerCharacter.Name" class="text-start text-success
                                            @(battle.WinnerCharacter.Id == Model.Id ? "fw-bold" : "")
                                            ">@battle.WinnerCharacter.Name</a>
                                </span>
                                <span class="col-4 text-center">
                                <span class="text-violet">VS</span>
                                </span>
                                <span class="col-4 text-end">
                                <a asp-action="@battle.LoserCharacter.Name" class="text-danger
                                            @(battle.LoserCharacter.Id == Model.Id ? "fw-bold" : "")
                                            ">@battle.LoserCharacter.Name</a>
                                </span>
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form asp-controller="Battle" asp-action="CreateSpecificBattle" asp-route-characterId="@Model.Id">
                        <label class="form-label" for="opponentName">Select an opponent character (leave blank for a random opponent):</label>
                        <input id="opponentName" name="opponentName" class="form-control" list="characterNames" placeholder="Character name" autocomplete="off" />

                        <datalist id="characterNames">
                            @foreach (var name in Model.AvailableCharactersNames)
                            {
                                if (name != Model.Name)
                                {
                                    <option value="@name"></option>
                                }
                            }
                        </datalist>

                        <button type="submit" class="btn btn-info w-100">
                            Create battle
                        </button>
                    </form>
                    @if (TempData.ContainsKey("Error"))
                    {
                        <div class="alert alert-danger m-1" role="alert">
                            @TempData["Error"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
