@using Web.ViewModels.Characters
@model CharacterDetailsViewModel

@{
    ViewData["Title"] = Model.Name;
    bool isAuthorized = (bool)(ViewData["authorized"] ?? false);
}

@if (isAuthorized)
{
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Delete the character?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-danger fw-bold">
                    Are you sure you want to delete this character forever? This action is permanent. There's no going back.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form method="post" asp-action="Delete" asp-route-id="@Model.Id" id="deleteForm">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<div class="container mt-1">
    <div class="row">
        <div class="col h3">
            <a asp-action="Index" asp-fragment="@Model.Name" class="nav-link d-inline">
                <span class="material-symbols-outlined fs-2">arrow_back</span>
                Back
            </a>
            @if (isAuthorized)
            {
                <span class="float-end">
                    <a asp-action="Edit" asp-route-id="@Model.Name" class="material-symbols-outlined text-decoration-none">brush</a>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-link material-symbols-outlined text-decoration-none">delete_forever</button>
                </span>
            }
        </div>
    </div>
    <div class="row">
        <div>
            <div class="col-md-4 mb-0 ship">
                <img src="@Model.PortraitUrl" class="img-fluid rounded mb-3 sizy object-fit-cover" alt="Character Image">
            </div>
            <h1 class="display-1">@Model.Name</h1>
            <a class="text-decoration-none" asp-controller="Country" asp-action="Details" asp-route-id="@Model.OriginCountry.Name">
                <span class="badge text-bg-secondary fs-6" data-bs-toggle="tooltip" data-bs-title="@Model.OriginCountry.Description">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                          data-bs-placement="bottom" data-bs-title="Origin Country">flag</span>
                    @Model.OriginCountry.Name
                </span>
            </a>
            <span class="badge text-bg-secondary fs-6">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Birth Date">calendar_month</span>
                @Model.BirthDate.ToLongDateString()
            </span>
            <span class="badge text-bg-secondary fs-6">
                <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip"
                      data-bs-placement="bottom" data-bs-title="Power">bolt</span>
                @Model.Power
            </span>
            <p class="lead long-text">@Model.LongDescription</p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <h2 class="mb-2 ms-3">Battles</h2>
            <div class="row">
                @if (Model.Battles.Count == 0)
                {
                    <p>The character hasn't fought in any battles yet.</p>
                }
                @foreach (var battle in Model.Battles)
                {
                    <div id="b-@battle.Id" class="col-lg-6">
                        <div class="p-3 my-3 rounded-3 bg-light fs-5-5">
                            <h3>@battle.Name</h3>
                            <div class="row pb-0">
                                <div class="col-6">
                                    <p class="">@battle.Date.ToLongDateString()</p>
                                    <span class="text-success fst-italic">Winner</span>
                                </div>
                                <div class="col-6 text-end">
                                    <p><a asp-controller="Country" asp-action="Details" asp-route-id="@battle.Country.Name" class="text-reset">@battle.Country.Name</a></p>
                                    <span class="text-danger fst-italic">Loser</span>
                                </div>
                            </div>
                            <p class="row">
                                <span class="col-4">
                                <a asp-action="Details" asp-route-id="@battle.WinnerCharacter.Name" class="text-start text-success
                                            @(battle.WinnerCharacter.Id == Model.Id ? "fw-bold" : "")
                                            ">@battle.WinnerCharacter.Name</a>
                                </span>
                                <span class="col-4 text-center">
                                <span class="text-violet">VS</span>
                                </span>
                                <span class="col-4 text-end">
                                <a asp-action="Details" asp-route-id="@battle.LoserCharacter.Name" class="text-danger
                                            @(battle.LoserCharacter.Id == Model.Id ? "fw-bold" : "")
                                            ">@battle.LoserCharacter.Name</a>
                                </span>
                            </p>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form asp-controller="Battle" asp-action="CreateSpecificBattle" asp-route-characterId="@Model.Id">
                        <label class="form-label" for="opponentName">Select an opponent character (leave blank for a random opponent):</label>
                        <input id="opponentName" name="opponentName" class="form-control" list="characterNames" placeholder="Character name" autocomplete="off" />

                        <datalist id="characterNames">
                            @foreach (var name in Model.AvailableCharactersNames)
                            {
                                if (name != Model.Name)
                                {
                                    <option value="@name"></option>
                                }
                            }
                        </datalist>

                        <button type="submit" class="btn btn-info w-100">
                            Create battle
                        </button>
                    </form>
                    @if (TempData.ContainsKey("Error"))
                    {
                        <div class="alert alert-danger m-1" role="alert">
                            @TempData["Error"]
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
